Debug
bin
armeabi-v7a
*.o
/assets/*.fnt
/.basecache/assets/*.png
*.user
*.sdf
*.suo
*.opensdf
*.png
.svn
*.ipch
*.bar
/blackberry-10/log.txt
/blackberry-10/arm/o.le-v7-g
/generators/android
/generators
/shaderdump
*.tmp
